
.navbar {
  background: #0000004d; 
  width: max-content; 
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2; 
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}

.navbarLogo {
  display: none; 
}

.navbarLinks ul {
  display: flex;
  gap: 0.8rem;
  list-style: none; 
  padding: 0;
  margin: 0;
}

.navbarLinks ul li {
  margin: 0; 
}

.navbarLinks ul li a {
  background: transparent;
  padding: 0.6rem 1.2rem;
  border-radius: 0.8rem;
  color: var(--cor-texto-principal); 
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  font-size: 1.1rem; 
}

.navbarLinks ul li a:hover {
  background: var(--cor-secundaria); 
  color: var(--cor-primaria); 
  transform: translateY(-2px); 
}


@media screen and (max-width: 600px) {
  .navbar {
    bottom: 1rem;
  }

  .navbarLinks ul li a {
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
    font-size: 0.9rem;
  }
}